{% extends "trail_analyzer/base.html" %}

{% block app_navigation_items %}
  <li class="active"><a href="">Home</a></li>
{% endblock %}

{% block app_content %}
  <div id='mapDiv'></div>
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="https://js.arcgis.com/3.15/esri/css/esri.css" rel="stylesheet"/>
  <link href="http://geoserver.byu.edu:6443/arcgis/rest/static/jsapi.css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="https://js.arcgis.com/3.15/init.js"></script>
{% endblock %}